{% extends 'base.html' %}

{% block menu %}
<h1>Liste des rayons</h1>
{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <th>Id</th>
        <th>Nom rayon</th>
    </thead>
    <tbody>
    {% for ray in rays %}
    <tr>
        <td>{{ ray.idRayon }}</td>
        <td>{{ ray.nomRayon }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<p>
J'ai
{% if rays|length < 5 %}
    peu de
{% elif rays|length < 10 %}
    quelques
{% else %}
    beaucoup de
{% endif %}
rayons disponibles.
</p>
{% endblock %}
