{% extends 'base.html' %}

{% block content %}
<table class="table">
    <thead>
        <th>Id</th>
        <th>Libellé statut</th>
    </thead>
    <tbody>
    {% for stat in stats %}
    <tr>
        <td><a href="{% url 'dtl_statut' stat.idStatus %}">{{ stat.idStatus }}</a></td>
        <td>{{ stat.libelleStatus }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<p>
J'ai
{% if stats|length < 5 %}
    peu de
{% elif stats|length < 10 %}
    quelques
{% else %}
    beaucoup de
{% endif %}
statuts disponibles.
</p>
{% endblock %}