{% extends 'base.html' %}
{% block content %}
<table class="table">
    <thead>
        <th>Id</th>
        <th>Nom produit</th>
        <th>Prix unitaire</th>
        <th>Date fabrication</th>
        <th>Rayon</th>
        <th>Catégorie</th>
        <th>Statut</th>
    </thead>
    <tbody>
    {% for prdt in prdts %}
    <tr>
        <td><a href="{% url 'dtl_prdt' prdt.refProd %}">{{ prdt.refProd }}</a></td>
        <td>{{ prdt.intituleProd }} </td>
        <td>{{ prdt.prixUnitaireProd }} </td>
        <td>{{ prdt.dateFabProd }} </td>
        <td>
        {% if prdt.rayon %}
            <a href="{% url 'dtl_rayon' prdt.rayon.idRayon %}">{{ prdt.rayon }}</a>
        {% else %}
            (Aucun)
        {% endif %}
        </td>
        <td>
        {% if prdt.categorie %}
            <a href="{% url 'dtl_categorie' prdt.categorie.idCat %}">{{ prdt.categorie }}</a>
        {% else %}
            (Aucune)
        {% endif %}
        </td>
        <td>
            {% if prdt.status %}
            <a href="{% url 'dtl_statut' prdt.status.idStatus %}">{{ prdt.status }}</a>
        {% else %}
            (Aucun)
        {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{% url 'crt-prdt' %}">Créer un nouveau produit</a>
<p>
J'ai
{% if prdts|length < 5 %}
    peu de
{% elif prdts|length < 10 %}
    quelques
{% else %}
    beaucoup de
{% endif %}
produits préférés.
</p>
{% endblock %}